################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CORE/.vs/ACECA/FileContentIndex
/CORE/Aceca.Adm/bin/Debug/net10.0/Aceca.Site.dll
/CORE/Aceca.Adm/bin/Debug/net10.0/Aceca.Site.exe
/CORE/Aceca.Adm/bin/Debug/net10.0/Aceca.Site.pdb
/CORE/Aceca.Adm/bin/Debug/net10.0/Aceca.Site.staticwebassets.runtime.json
/CORE/.vs/ACECA
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/CORE/Aceca.Site/bin/Debug/net10.0/Aceca.Site.dll
/CORE/Aceca.Site/bin/Debug/net10.0/Aceca.Site.exe
/CORE/Aceca.Site/bin/Debug/net10.0/Aceca.Site.pdb
/CORE/Aceca.Site/bin/Debug/net10.0/Aceca.Site.staticwebassets.endpoints.json
/CORE/Aceca.Site/bin/Debug/net10.0/Aceca.Site.staticwebassets.runtime.json
/CORE/Aceca.Site/obj/Debug/net10.0/compressed/pxk9j4l5sy-{0}-j47m3ou0fi-j47m3ou0fi.gz
/CORE/Aceca.Site/obj/Debug/net10.0/compressed/pxk9j4l5sy-{0}-o6ktwa0ryu-o6ktwa0ryu.gz
/CORE/Aceca.Site/obj/Debug/net10.0/ref/Aceca.Site.dll
/CORE/Aceca.Site/obj/Debug/net10.0/refint/Aceca.Site.dll
/CORE/Aceca.Site/obj/Debug/net10.0/Aceca.Site.AssemblyInfo.cs
/CORE/Aceca.Site/obj/Debug/net10.0/Aceca.Site.AssemblyInfoInputs.cache
/CORE/Aceca.Site/obj/Debug/net10.0/Aceca.Site.csproj.FileListAbsolute.txt
/CORE/Aceca.Site/obj/Debug/net10.0/Aceca.Site.dll
/CORE/Aceca.Site/obj/Debug/net10.0/Aceca.Site.pdb
/CORE/Aceca.Site/obj/Debug/net10.0/Aceca.Site.sourcelink.json
/CORE/Aceca.Site/obj/Debug/net10.0/apphost.exe
/CORE/Aceca.Site/obj/Debug/net10.0/rbcswa.dswa.cache.json
/CORE/Aceca.Site/obj/Debug/net10.0/rjimswa.dswa.cache.json
/CORE/Aceca.Site/obj/Debug/net10.0/rjsmcshtml.dswa.cache.json
/CORE/Aceca.Site/obj/Debug/net10.0/rjsmrazor.dswa.cache.json
/CORE/Aceca.Site/obj/Debug/net10.0/rpswa.dswa.cache.json
/CORE/Aceca.Site/obj/Debug/net10.0/staticwebassets.build.endpoints.json
/CORE/Aceca.Site/obj/Debug/net10.0/staticwebassets.build.json
/CORE/Aceca.Site/obj/Debug/net10.0/staticwebassets.build.json.cache
/CORE/Aceca.Site/obj/Debug/net10.0/staticwebassets.development.json
/CORE/Aceca.Site/obj/Debug/net10.0/staticwebassets.removed.txt
/CORE/Aceca.Site/obj/Debug/net10.0/staticwebassets.upToDateCheck.txt
