@{
  ViewData["Title"] = "Modals - UI elements";
}
@section VendorStyles {
<link rel="stylesheet" href="~/vendor/libs/select2/select2.css" />
<link rel="stylesheet" href="~/vendor/libs/&#64;form-validation/form-validation.css" />
<link rel="stylesheet" href="~/vendor/libs/bs-stepper/bs-stepper.css" />
}
@section VendorScripts {
<script src="~/vendor/libs/cleavejs/cleave.js"></script>
<script src="~/vendor/libs/cleavejs/cleave-phone.js"></script>
<script src="~/vendor/libs/select2/select2.js"></script>
<script src="~/vendor/libs/&#64;form-validation/popular.js"></script>
<script src="~/vendor/libs/&#64;form-validation/bootstrap5.js"></script>
<script src="~/vendor/libs/&#64;form-validation/auto-focus.js"></script>
<script src="~/vendor/libs/select2/select2.js"></script>
<script src="~/vendor/libs/bs-stepper/bs-stepper.js"></script>
}
@section PageScripts {
<script src="~/js/pages-pricing.js"></script>
<script src="~/js/modal-create-app.js"></script>
<script src="~/js/modal-add-new-cc.js"></script>
<script src="~/js/modal-add-new-address.js"></script>
<script src="~/js/modal-edit-user.js"></script>
<script src="~/js/modal-enable-otp.js"></script>
<script src="~/js/modal-share-project.js"></script>
<script src="~/js/modal-two-factor-auth.js"></script>
}

@* ************** Content ************** *@
<div class="row">
  <!--  Pricing -->
  <div class="col-12 col-sm-6 col-lg-4 mb-6">
    <div class="card">
      <div class="card-body text-center">
        <i class='ri-28px ri-money-dollar-circle-line text-heading'></i>
        <h5 class="mt-4 fw-medium">Pricing</h5>
        <p> Elegant pricing options modal popup example, easy to use in any page.</p>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#pricingModal"> Show </button>
      </div>
    </div>
  </div>
  <!--/  Pricing -->

  <!--  Add New Credit Card -->
  <div class="col-12 col-sm-6 col-lg-4 mb-6">
    <div class="card">
      <div class="card-body text-center">
        <i class='ri-28px ri-bank-card-line text-heading'></i>
        <h5 class="mt-4 fw-medium">Add New Credit Card</h5>
        <p> Quickly collect the credit card details, built in input mask and form validation support.</p>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addNewCCModal"> Show </button>
      </div>
    </div>
  </div>
  <!--/  Add New Credit Card -->

  <!--  Add New Address -->
  <div class="col-12 col-sm-6 col-lg-4 mb-6">
    <div class="card">
      <div class="card-body text-center">
        <i class='ri-28px ri-home-3-line text-heading'></i>
        <h5 class="mt-4 fw-medium">Add New Address</h5>
        <p> Ready to use form to collect user address data with validation and custom input support.</p>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addNewAddress"> Show </button>
      </div>
    </div>
  </div>
  <!--/  Add New Address -->

  <!--  Refer & Earn -->
  <div class="col-12 col-sm-6 col-lg-4 mb-6">
    <div class="card">
      <div class="card-body text-center">
        <i class='ri-28px ri-gift-line text-heading'></i>
        <h5 class="mt-4 fw-medium">Refer & Earn</h5>
        <p>Use Refer & Earn modal to encourage your exiting customers refer their friends & colleague.</p>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#referAndEarn"> Show </button>
      </div>
    </div>
  </div>
  <!--/  Refer & Earn -->

  <!--  Edit User -->
  <div class="col-12 col-sm-6 col-lg-4 mb-6">
    <div class="card">
      <div class="card-body text-center">
        <i class='ri-28px ri-user-line text-heading'></i>
        <h5 class="mt-4 fw-medium">Edit User</h5>
        <p>Easily update the user data on the go, built in form validation and custom controls.</p>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editUser"> Show </button>
      </div>
    </div>
  </div>
  <!--/  Edit User -->

  <!--  Enable OTP -->
  <div class="col-12 col-sm-6 col-lg-4 mb-md-0 mb-6">
    <div class="card">
      <div class="card-body text-center">
        <i class='ri-28px ri-smartphone-line text-heading'></i>
        <h5 class="mt-4 fw-medium">Enable OTP</h5>
        <p>Use this modal to enhance your application security by enabling authentication with OTP.</p>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#enableOTP"> Show </button>
      </div>
    </div>
  </div>
  <!--/  Enable OTP -->

  <!--  Share Project -->
  <div class="col-12 col-sm-6 col-lg-4 mb-6">
    <div class="card">
      <div class="card-body text-center">
        <i class='ri-28px ri-file-pdf-line text-heading'></i>
        <h5 class="mt-4 fw-medium">Share Project</h5>
        <p>Elegant Share Project options modal popup example, easy to use in any page.</p>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#shareProject"> Show </button>
      </div>
    </div>
  </div>
  <!--/  Share Project -->

  <!--  Create App -->
  <div class="col-12 col-sm-6 col-lg-4 mb-6">
    <div class="card">
      <div class="card-body text-center">
        <i class='ri-28px ri-box-3-line text-heading'></i>
        <h5 class="mt-4 fw-medium">Create App</h5>
        <p>Provide application data with this form to create your app, easy to use in page.</p>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createApp"> Show </button>
      </div>
    </div>
  </div>
  <!--/  Create App -->

  <!--  Two Factor Auth -->
  <div class="col-12 col-sm-6 col-lg-4 mb-6">
    <div class="card">
      <div class="card-body text-center">
        <i class="ri-lock-line ri-28px text-heading"></i>
        <h5 class="mt-4 fw-medium">Two Factor Auth</h5>
        <p>Enhance your application security by enabling two factor authentication.</p>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#twoFactorAuth"> Show </button>
      </div>
    </div>
  </div>
  <!--/  Two Factor Auth -->

  <!--  Payment providers -->
  <div class="col-12 col-sm-6 col-lg-4 mb-6 mb-sm-0">
    <div class="card">
      <div class="card-body text-center">
        <i class="mb-4 ri-bank-card-line ri-28px text-heading"></i>
        <h5>Payment providers</h5>
        <p>Elegant payment options modal popup example, easy to use in any page.</p>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#paymentProvider"> Show </button>
      </div>
    </div>
  </div>
  <!--/  Payment providers -->

  <!--  Payment methods -->
  <div class="col-12 col-sm-6 col-lg-4">
    <div class="card">
      <div class="card-body text-center">
        <i class="mb-4 ri-bank-card-2-line ri-28px text-heading"></i>
        <h5>Add Payment Method</h5>
        <p>Elegant payment methods modal popup example, easy to use in any page.</p>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#paymentMethods"> Show </button>
      </div>
    </div>
  </div>
  <!--/  Payment methods -->

</div>

<!-- All Modals -->
@await Html.PartialAsync("../_Partials/_Modals/ModalAddNewCc")
@await Html.PartialAsync("../_Partials/_Modals/ModalAddNewAddress")
@await Html.PartialAsync("../_Partials/_Modals/ModalReferEarn")
@await Html.PartialAsync("../_Partials/_Modals/ModalEditUser")
@await Html.PartialAsync("../_Partials/_Modals/ModalEnableOtp")
@await Html.PartialAsync("../_Partials/_Modals/ModalPricing")
@await Html.PartialAsync("../_Partials/_Modals/ModalShareProject")
@await Html.PartialAsync("../_Partials/_Modals/ModalCreateApp")
@await Html.PartialAsync("../_Partials/_Modals/ModalTwoFactorAuth")
@await Html.PartialAsync("../_Partials/_Modals/ModalSelectPaymentProviders")
@await Html.PartialAsync("../_Partials/_Modals/ModalSelectPaymentMethods")
