@{
    var pageApp = "ACECA";
    var pageName = ViewContext?.RouteData?.Values["controller"] as string ?? "";
    var pageTipo = string.Empty; //" - Listagem - ";

    ViewData["Title"] = string.Format("{0} | {1} | {2}", pageApp, pageName, pageTipo);

    Layout = $"~/Views/Shared/{@TempData["Layout"]}.cshtml";
}

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/datatables-bs5/datatables.bootstrap5.css" />
    <link rel="stylesheet" href="~/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css" />
    <link rel="stylesheet" href="~/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css" />
    <link rel="stylesheet" href="~/vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css">
    <link rel="stylesheet" href="~/vendor/libs/flatpickr/flatpickr.css"/>
    <!-- Row Group CSS -->
    <link rel="stylesheet" href="~/vendor/libs/datatables-rowgroup-bs5/rowgroup.bootstrap5.css">
    <!-- Form Validation -->
    <link rel="stylesheet" href="~/vendor/libs/&#64;form-validation/form-validation.css"/>


    <link rel="stylesheet" href="~/vendor/libs/sweetalert2/sweetalert2.css" />
    <link rel="stylesheet" href="~/vendor/libs/busy-load/app.min.css" />

    <!-- Select Dropdownlist -->
    <link rel="stylesheet" href="~/vendor/libs/select2/select2.css" />
    <link rel="stylesheet" href="~/vendor/libs/bootstrap-select/bootstrap-select.css" />

    <!-- CSS PAGE -->
    <link rel="stylesheet" href="~/css/zoom.css">
    <link rel="stylesheet" href="~/css/marcas.css">
}

@section VendorScripts {
    <script src="~/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
    <!-- Flat Picker -->
    <script src="~/vendor/libs/moment/moment.js"></script>
    <script src="~/vendor/libs/flatpickr/flatpickr.js"></script>
    <!-- Form Validation -->
    <script src="~/vendor/libs/&#64;form-validation/popular.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/bootstrap5.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/auto-focus.js"></script>


    <script src="~/vendor/libs/sweetalert2/sweetalert2.js"></script>
    <script src="~/vendor/libs/busy-load/app.min.js"></script>

    <!-- Select Dropdownlist -->
    <script src="~/vendor/libs/select2/select2.js"></script>
    <script src="~/vendor/libs/bootstrap-select/bootstrap-select.js"></script>

} 

@section PageScripts {
    <script src="~/js/admin/marca/admin-marca.js"></script>
    <!-- Select Dropdownlist -->
    <script src="~/js/forms-selects.js"></script>
}

@* ************** Filtros ************** *@
<div class="card mb-6">
    <div class="card-widget-separator-wrapper">
        <div class="card-body card-widget-separator">
            <div class="head-label-filtro text-start">
                <h5 class="card-title mb-0 title-filtro">Filtros</h5>
            </div>

            <div class="row gy-4 gy-sm-1 pt-4 gap-4 gap-md-0">

                <!-- Fase -->
                <div class="col-sm-6 col-lg-3">
                    <div class="d-flex justify-content-between align-items-start card-widget-1 row gap-4 gap-md-0">
                        <div>
                            <p class="mb-1">* Fase</p>
                            <select id="cmb_MarcaFase" class="select2 form-select form-select">
                                <option value="-1">-- Selecionar --</option>
                            </select>
                        </div>
                    </div>
                    <hr class="d-none d-sm-block d-lg-none me-6">
                </div>

                <!-- Fabrica 
                <div class="col-sm-6 col-lg-3">
                <div class="d-flex justify-content-between align-items-start card-widget-1 row gap-4 gap-md-0">
                <div>
                <p class="mb-1">* Fabrica</p>
                <select id="cmb_MarcaFabrica" class="select2 form-select form-select">
                <option value="-1">-- Selecionar --</option>
                </select>
                </div>
                </div>
                <hr class="d-none d-sm-block d-lg-none me-6">
                </div>
                -->

                <!-- Tipo-->
                <div class="col-sm-6 col-lg-2">
                    <div class="d-flex justify-content-between align-items-start card-widget-1 row gap-4 gap-md-0">
                        <div>
                            <p class="mb-1">* Tipo</p>
                            <select id="cmb_MarcaTipo" class="select2 form-select form-select">
                                <option value="-1">-- Selecionar --</option>
                            </select>
                        </div>
                    </div>
                    <hr class="d-none d-sm-block d-lg-none me-6">
                </div>

                <!-- Sub-Tipo -->
                <div class="col-sm-6 col-lg-2">
                    <div class="d-flex justify-content-between align-items-start card-widget-1 row gap-4 gap-md-0">
                        <div>
                            <p class="mb-1">* Sub-Tipo</p>
                            <select id="cmb_MarcaSubTipo" class="select2 form-select form-select">
                                <option value="-1">-- Selecionar Tipo --</option>
                            </select>
                        </div>
                    </div>
                    <hr class="d-none d-sm-block d-lg-none me-6">
                </div>

                <!-- Flag Pesquisar na Descricao -->
                <div class="d-flex justify-content-center col-sm-6 col-lg-2">
                    <div class="d-flex justify-content-between align-items-end card-widget-1 row gap-4 gap-md-0">
                        <div>
                            <div class="pt-8">
                                <div class="form-check form-switch mb-2">
                                    <input class="form-check-input" type="checkbox"
                                    id="chk_PesquisarDescricao">
                                    <label class="form-check-label" for="chk_PesquisarDescricao">Pesquisar na Descrição</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="d-none d-sm-block d-lg-none me-6">
                </div>

                <!-- Botoes -->
                <div class="col-sm-6 col-lg-3">
                    <div class="d-flex justify-content-between align-items-start card-widget-1 row gap-4 gap-md-0">
                        <div class="d-flex justify-content-center align-content-center flex-wrap gap-4 pt-8">
                            <button type="button" class="btn btn-label-primary btn-filter waves-effect">
                                <span class="tf-icons ri-filter-2-line ri-16px me-1_5"></span>Filtrar Dados
                            </button>
                            <button type="button" class="btn btn-label-secondary waves-effect btn-filter-clear">
                                <span class="tf-icons ri-eraser-line ri-16px me-1_5"></span>Limpar Filtro
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Botoes 
            <div class="row gy-4 gy-sm-1 pt-4 gap-4 gap-md-0">

            <div class="d-flex justify-content-center col-sm-6 col-lg-12">
            <div class="d-flex justify-content-between align-items-start card-widget-1 row gap-4 gap-md-0">

            <div class="pt-8">
            <button type="button" class="btn btn-label-primary waves-effect btn-filter">
            <span class="tf-icons ri-filter-2-line ri-16px me-1_5"></span>Pesquisar
            </button>

            <button type="button" class="btn btn-label-secondary waves-effect btn-filter-clear">
            <span class="tf-icons ri-eraser-line ri-16px me-1_5"></span>Limpar Filtro
            </button>
            </div>
            </div>
            </div>

            </div>

            -->
        </div>
    </div>
</div>

@*************** Content List Table ************** *@
<div class="card">
    <div class="card-datatable table-responsive pt-0">
        <table class="datatables-basic table table-hover" style="width:90%">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Fase</th>
                    <th>Finalidade</th>
                    <th class="text-nowrap text-center">C&oacute;d. ACECA</th>
                    <th>Imagem</th>
                    <th>Detalhe</th>
                    <th class="text-start w-25">Nome</th>
                    <th>F&aacute;brica</th>
                    <th>Tipo</th>
                    <th class="text-start w-50">Descri&ccedil;&atilde;o</th>
                    <th class="text-nowrap text-center">Inclu&iacute;do por</th>
                    <th>Inclu&iacute;do por Hide</th>
                    <th>A&ccedil;&otilde;es</th>
                    @* @if (TempData["isPerfil"] as bool? ?? false)
                    {
                        
                    } *@
                </tr>
            </thead>
        </table>
    </div>
</div>

<!-- The Modal Zoom -->
<div id="myModal" class="modal">
    <span id="caption">img</span>
    <img class="modal-content" id="img01">
</div>

<!-- Add new address modal -->
@await Html.PartialAsync("../../_Partials/_Modals/ModalAddNovaMarca.cshtml")