@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_HorizontalLayout.cshtml";
}

@section PageStyles {
    <link rel="stylesheet" href="~/vendor/css/pages/page-misc.css">
}

@* ************** Content ************** *@
<div class="text-center">
    <h2 class="mb-2 mx-2" style="font-size: 3rem;line-height: 6rem;">A.C.E.C.A</h2>
    <h4 class="mb-2">Bem Vindo 🚀</h4>
    <div class="d-flex justify-content-center mt-5">
        <img src="~/img/illustrations/tree-3.png" alt="ACECA" class="img-fluid misc-object d-none d-lg-inline-block">
        <img src="~/img/illustrations/tree.png" alt="ACECA" class="img-fluid misc-object-right d-none d-lg-inline-block">
        <img src="~/img/illustrations/misc-mask-light.png" alt="ACECA" class="scaleX-n1-rtl misc-bg d-none d-lg-inline-block" height="172" data-app-light-img="illustrations/misc-mask-light.png" data-app-dark-img="illustrations/misc-mask-dark.png">
        <div class="d-flex flex-column align-items-center">
            <img src="~/img/illustrations/404.png" alt="ACECA" class="misc-model img-fluid z-1" width="780">
        </div>
    </div>
</div>
<!-- /Home -->
