@{
    TempData.Keep();
    ViewData["containerNav"] = ViewData["containerNav"] ??= "container-fluid";
}

<!-- Footer -->
<footer class="content-footer footer bg-footer-theme">
    <input type="hidden" id="hdSocioId" name="hdSocioId" value="0" />
    <input type="hidden" id="hdIsPerfil" name="hdIsPerfil" value="false" />
    <div class='@ViewData["containerNav"]' style="background:linear-gradient(135deg,#47007b,#7b0fcc 60%,#a32bff); color:#FFF">
        <div class="footer-container d-flex align-items-center justify-content-between py-4 flex-md-row flex-column">
            <div class="mb-2 mb-md-0">
                <span class="text-secondary"><i class="tf-icons ri-bnb-fill"></i></span>
                <a href="http://www.aceca.com.br" target="_blank" class="custom_text">A.C.E.C.A</a>
                <span>- &Aacute;rea do S&oacute;cio</span>   ©
            </div>
        <div class="d-none d-lg-inline-block">
                <script>

                                    document.write(new Date().toLocaleDateString('pt-BR', {
                                    weekday: 'long',
                                    year: 'numeric',
                                    month: 'long',
                                    day: 'numeric'
                                    }))
                </script>
        </div>
    </div>
</div>
</footer>
<!-- / Footer -->

