<!-- Add New Address Modal -->
<div class="modal fade" id="modal-full-edit-item" tabindex="-1" aria-labelledby="modal-full-edit-item" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-simple modal-full-edit-item">
    
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="backDropModalTitle">Editar Cinema</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <div class="modal-body">
        <!--<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="text-center mb-6">
          <h4 class="address-title mb-2">Adicionar Cinema</h4>
          <p class="address-subtitle">Add new address for express delivery</p>
        </div>-->

        <form id="form-modal-full-edit" class="row g-5" onsubmit="return false">
          <input type="hidden" id="hdCinemaId" name="hdCinemaId" value="0"/>
          
          <div class="col-md mb-6 mb-md-2">
            <div class="accordion mt-4" id="accordionCadastro">

              <!-- Cinema Details -->
              <div class="accordion-item active" data-info="cinema">
                <h2 class="accordion-header mb-4" id="heading1">
                  <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordion1" aria-expanded="true" aria-controls="accordion1">
                    1. Cinema
                  </button>
                </h2>

                <div id="accordion1" class="accordion-collapse collapse show" data-bs-parent="#accordionCadastro">
                  <div class="accordion-body">
                    <div class="row g-5">

                      <div class="col-md-6 cinema_Nome">
                        <div class="form-floating form-floating-outline">
                          <input type="text" id="cinema_Nome" name="cinema_Nome" class="form-control"/>
                          <label for="cinema_Nome">Nome</label>
                        </div>
                      </div>

                      <div class="col-md-6 cinema_IdSEcom">
                        <div class="form-floating form-floating-outline">
                          <input id="cinema_IdSEcom" name="cinema_IdSEcom" class="form-control" type="text"/>
                          <label for="cinema_IdSEcom">ID Secom</label>
                        </div>
                      </div>

                      <div class="col-md-6 cinema_Exibidor">
                        <div class="form-floating form-floating-outline">
                          <select id="cinema_Exibidor" name="cinema_Exibidor" class="form-select select2 cinema_Exibidor" data-allow-clear="true">
                            <option value="-1">-- Selecionar --</option>
                          </select>

                          <label for="cinema_Exibidor">Exibidor</label>
                        </div>
                      </div>

                      <div class="col-md-6 cinema_Tipo">
                        <div class="form-floating form-floating-outline">
                          <select id="cinema_Tipo" name="cinema_Tipo" class="form-select select2" data-allow-clear="true">
                            <option value="-1">-- Selecionar --</option>
                          </select>
                          <label for="cinema_Tipo">Tipo</label>
                        </div>
                      </div>

                      <div class="col-md-6 cinema_Classificacao">
                        <div class="form-floating form-floating-outline">
                          <select id="cinema_Classificacao" name="cinema_Classificacao" class="form-select select2" data-allow-clear="true">
                            <option value="-1">-- Selecionar --</option>
                          </select>
                          <label for="cinema_Classificacao">Classifica&ccedil;&atilde;o</label>
                        </div>
                      </div>

                      <div class="col-md-6 cinema_Programacao">
                        <div class="form-floating form-floating-outline">
                          <select id="cinema_Programacao" name="cinema_Programacao" class="form-select select2" data-allow-clear="true">
                            <option value="-1">-- Selecionar --</option>
                          </select>
                          <label for="cinema_Programacao">Programa&ccedil;&atilde;o</label>
                        </div>
                      </div>

                      <div class="col-md-6 cinema_Salas">
                        <div class="form-floating form-floating-outline">
                          <input type="text" id="cinema_Salas" name="cinema_Salas" class="form-control"/>
                          <label for="cinema_Salas">Salas</label>
                        </div>
                      </div>

                      <div class="col-md-6 cinema_QtdMonitores">
                        <div class="form-floating form-floating-outline">
                          <input type="text" id="cinema_QtdMonitores" name="cinema_QtdMonitores" class="form-control"/>
                          <label for="cinema_QtdMonitores">Nr. Monitores</label>
                        </div>
                      </div>

                      <div class="col-md-6 cinema_Obs">
                        <div class="form-floating form-floating-outline">
                          <input type="text" id="cinema_Obs" name="cinema_Obs" class="form-control h-px-100"/>
                          <label for="cinema_Obs" style="left: 15px;">Observa&ccedil;&atilde;o</label>
                        </div>
                      </div>

                      <div class="col-sm-6 cinema_Status" style="align-self: anchor-center; justify-items: center;">
                        <div class="form-check form-switch mb-2">
                          <input type="checkbox" id="cinema_Status" name="cinema_Status" class="form-check-input"/>
                          <label class="form-check-label" for="cinema_Status">Status</label>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <!-- Email Receber Material Info -->
              <div class="accordion-item" data-info="cinemaEmailReceberMaterial">
                <h2 class="accordion-header" id="heading2">
                  <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion2" aria-expanded="false" aria-controls="accordion2">
                    2. E-mails Receber Material
                  </button>
                </h2>
                <div id="accordion2" class="accordion-collapse collapse" aria-labelledby="heading2" data-bs-parent="#accordionCadastro">
                  <div class="accordion-body">

                    <div class="row g-5 chkCinemaEmailReceberMaterial_SalvarDados">
                      <div class="col-md-12 d-flex justify-content-end mb-4">
                        <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" id="chkCinemaEmailReceberMaterial_SalvarDados" name="chkCinemaEmailReceberMaterial_SalvarDados" required/>
                          <label class="form-check-label" for="chkCinemaEmailReceberMaterial_SalvarDados">Salvar Dados</label>
                        </div>
                      </div>
                    </div>

                    <div class="row g-5">

                      <div class="col-md-6 cinemaEmailReceberMaterial_Email01">
                        <div class="form-floating form-floating-outline">
                          <input type="email" id="cinemaEmailReceberMaterial_Email01" name="cinemaEmailReceberMaterial_Email01" class="form-control" placeholder="email@email.com" aria-label="email@email.com" required=""/>
                          <label for="cinemaEmailReceberMaterial_Email01">E-mail 01</label>
                        </div>
                      </div>

                      <div class="col-md-6 cinemaEmailReceberMaterial_Email02">
                        <div class="form-floating form-floating-outline">
                          <input type="email" id="cinemaEmailReceberMaterial_Email02" name="cinemaEmailReceberMaterial_Email02" class="form-control" placeholder="email@email.com" aria-label="email@email.com" required=""/>
                          <label for="cinemaEmailReceberMaterial_Email02">E-mail 02</label>
                        </div>
                      </div>

                      <div class="col-md-6 cinemaEmailReceberMaterial_Email03">
                        <div class="form-floating form-floating-outline">
                          <input type="email" id="cinemaEmailReceberMaterial_Email03" name="cinemaEmailReceberMaterial_Email03" class="form-control" placeholder="email@email.com" aria-label="email@email.com" required=""/>
                          <label for="cinemaEmailReceberMaterial_Email03">E-mail 03</label>
                        </div>
                      </div>

                      <div class="col-md-6 cinemaEmailReceberMaterial_Email04">
                        <div class="form-floating form-floating-outline">
                          <input type="email" id="cinemaEmailReceberMaterial_Email04" name="cinemaEmailReceberMaterial_Email04" class="form-control" placeholder="email@email.com" aria-label="email@email.com" required=""/>
                          <label for="cinemaEmailReceberMaterial_Email04">E-mail 04</label>
                        </div>
                      </div>

                    </div>

                  </div>
                </div>
              </div>

              <!-- Email Programacao Info -->
              <div class="accordion-item" data-info="cinemaEmailProgramacao">
                <h2 class="accordion-header" id="heading3">
                  <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion3" aria-expanded="false" aria-controls="accordion3">
                    3. E-mails Programacao
                  </button>
                </h2>
                <div id="accordion3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#accordionCadastro">
                  <div class="accordion-body">

                    <div class="row g-5 chkCinemaEmailProgramacao_SalvarDados">
                      <div class="col-md-12 d-flex justify-content-end mb-4">
                        <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" id="chkCinemaEmailProgramacao_SalvarDados" name="chkCinemaEmailProgramacao_SalvarDados" required/>
                          <label class="form-check-label" for="chkCinemaEmailProgramacao_SalvarDados">Salvar Dados</label>
                        </div>
                      </div>
                    </div>

                    <div class="row g-5">

                      <div class="col-md-6 cinemaEmailProgramacao_Email01">
                        <div class="form-floating form-floating-outline">
                          <input type="email" id="cinemaEmailProgramacao_Email01" name="cinemaEmailProgramacao_Email01" class="form-control" placeholder="email@email.com" aria-label="email@email.com" required=""/>
                          <label for="cinemaEmailProgramacao_Email01">E-mail 01</label>
                        </div>
                      </div>

                      <div class="col-md-6 cinemaEmailProgramacao_Email02">
                        <div class="form-floating form-floating-outline">
                          <input type="email" id="cinemaEmailProgramacao_Email02" name="cinemaEmailProgramacao_Email02" class="form-control" placeholder="email@email.com" aria-label="email@email.com" required=""/>
                          <label for="cinemaEmailProgramacao_Email02">E-mail 02</label>
                        </div>
                      </div>

                      <div class="col-md-6 cinemaEmailProgramacao_Email03">
                        <div class="form-floating form-floating-outline">
                          <input type="email" id="cinemaEmailProgramacao_Email03" name="cinemaEmailProgramacao_Email03" class="form-control" placeholder="email@email.com" aria-label="email@email.com" required=""/>
                          <label for="cinemaEmailProgramacao_Email03">E-mail 03</label>
                        </div>
                      </div>

                      <div class="col-md-6 cinemaEmailProgramacao_Email04">
                        <div class="form-floating form-floating-outline">
                          <input type="email" id="cinemaEmailProgramacao_Email04" name="cinemaEmailProgramacao_Email04" class="form-control" placeholder="email@email.com" aria-label="email@email.com" required=""/>
                          <label for="cinemaEmailProgramacao_Email04">E-mail 04</label>
                        </div>
                      </div>

                      <div class="col-md-6 cinemaEmailProgramacao_Email05">
                        <div class="form-floating form-floating-outline">
                          <input type="email" id="cinemaEmailProgramacao_Email05" name="cinemaEmailProgramacao_Email05" class="form-control" placeholder="email@email.com" aria-label="email@email.com" required=""/>
                          <label for="cinemaEmailProgramacao_Email05">E-mail 05</label>
                        </div>
                      </div>

                      <div class="col-md-6 cinemaEmailProgramacao_Email06">
                        <div class="form-floating form-floating-outline">
                          <input type="email" id="cinemaEmailProgramacao_Email06" name="cinemaEmailProgramacao_Email06" class="form-control" placeholder="email@email.com" aria-label="email@email.com" required=""/>
                          <label for="cinemaEmailProgramacao_Email06">E-mail 06</label>
                        </div>
                      </div>

                      <div class="col-md-6 cinemaEmailProgramacao_Email07">
                        <div class="form-floating form-floating-outline">
                          <input type="email" id="cinemaEmailProgramacao_Email07" name="cinemaEmailProgramacao_Email07" class="form-control" placeholder="email@email.com" aria-label="email@email.com" required=""/>
                          <label for="cinemaEmailProgramacao_Email07">E-mail 07</label>
                        </div>
                      </div>

                      <div class="col-md-6 cinemaEmailProgramacao_Email08">
                        <div class="form-floating form-floating-outline">
                          <input type="email" id="cinemaEmailProgramacao_Email08" name="cinemaEmailProgramacao_Email08" class="form-control" placeholder="email@email.com" aria-label="email@email.com" required=""/>
                          <label for="cinemaEmailProgramacao_Email08">E-mail 08</label>
                        </div>
                      </div>

                      <div class="col-md-6 cinemaEmailProgramacao_Email09">
                        <div class="form-floating form-floating-outline">
                          <input type="email" id="cinemaEmailProgramacao_Email09" name="cinemaEmailProgramacao_Email09" class="form-control" placeholder="email@email.com" aria-label="email@email.com" required=""/>
                          <label for="cinemaEmailProgramacao_Email09">E-mail 09</label>
                        </div>
                      </div>

                      <div class="col-md-6 cinemaEmailProgramacao_Email10">
                        <div class="form-floating form-floating-outline">
                          <input type="email" id="cinemaEmailProgramacao_Email10" name="cinemaEmailProgramacao_Email10" class="form-control" placeholder="email@email.com" aria-label="email@email.com" required=""/>
                          <label for="cinemaEmailProgramacao_Email10">E-mail 10</label>
                        </div>
                      </div>

                    </div>

                  </div>
                </div>
              </div>

              <!-- Contato Info -->
              <div class="accordion-item" data-info="cinemaContato">
                <h2 class="accordion-header" id="heading4">
                  <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion4" aria-expanded="false" aria-controls="accordion4">
                    4. Contato
                  </button>
                </h2>
                <div id="accordion4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#accordionCadastro">
                  <div class="accordion-body">

                    <div class="row g-5 chkCinemaContato_SalvarDados">
                      <div class="col-md-12 d-flex justify-content-end mb-4">
                        <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" id="chkCinemaContato_SalvarDados" name="chkCinemaContato_SalvarDados" required/>
                          <label class="form-check-label" for="chkCinemaContato_SalvarDados">Salvar Dados</label>
                        </div>
                      </div>
                    </div>

                    <div class="row g-5">

                      <div class="col-md-12 cinemaContato_Nome">
                        <div class="form-floating form-floating-outline">
                          <input type="text" id="cinemaContato_Nome" name="cinemaContato_Nome" class="form-control"/>
                          <label for="cinemaContato_Nome">Nome</label>
                        </div>
                      </div>

                      <div class="col-md-6 cinemaContato_Tel01">
                        <div class="form-floating form-floating-outline">
                          <input type="text" id="cinemaContato_Tel01" name="cinemaContato_Tel01" class="form-control"/>
                          <label for="cinemaContato_Tel01">Tel 01</label>
                        </div>
                      </div>

                      <div class="col-md-6 cinemaContato_Email01">
                        <div class="form-floating form-floating-outline">
                          <input type="email" id="cinemaContato_Email01" name="cinemaContato_Email01" class="form-control" placeholder="email@email.com" aria-label="email@email.com" required=""/>
                          <label for="cinemaContato_Email01">E-mail 01</label>
                        </div>
                      </div>

                      <div class="col-md-6 cinemaContato_Tel02">
                        <div class="form-floating form-floating-outline">
                          <input type="text" id="cinemaContato_Tel02" name="cinemaContato_Tel02" class="form-control"/>
                          <label for="cinemaContato_Tel02">Tel 02</label>
                        </div>
                      </div>

                      <div class="col-md-6 cinemaContato_Email02">
                        <div class="form-floating form-floating-outline">
                          <input type="email" id="cinemaContato_Email02" name="cinemaContato_Email02" class="form-control" placeholder="email@email.com" aria-label="email@email.com" required=""/>
                          <label for="cinemaContato_Email02">E-mail 02</label>
                        </div>
                      </div>

                    </div>

                  </div>
                </div>
              </div>

              <!-- Ingresso.com Info -->
              <div class="accordion-item" data-info="cinemaIngresso">
                <h2 class="accordion-header" id="heading5">
                  <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion5" aria-expanded="false" aria-controls="accordion5">
                    5. Ingresso.com
                  </button>
                </h2>
                <div id="accordion5" class="accordion-collapse collapse" aria-labelledby="heading5" data-bs-parent="#accordionCadastro">
                  <div class="accordion-body">

                    <div class="row g-5 chkCinemaIngresso_SalvarDados">
                      <div class="col-md-12 d-flex justify-content-end mb-4">
                        <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" id="chkCinemaIngresso_SalvarDados" name="chkCinemaIngresso_SalvarDados" required/>
                          <label class="form-check-label" for="chkCinemaIngresso_SalvarDados">Salvar Dados</label>
                        </div>
                      </div>
                    </div>

                    <div class="row g-5">

                      <div class="col-md-6 cinemaIngresso_Nome">
                        <div class="form-floating form-floating-outline">
                          <input type="text" id="cinemaIngresso_Nome" name="cinemaIngresso_Nome" class="form-control"/>
                          <label for="cinemaIngresso_Nome">Nome</label>
                        </div>
                      </div>

                      <div class="col-md-6 cinemaIngresso_ID">
                        <div class="form-floating form-floating-outline">
                          <input type="text" id="cinemaIngresso_ID" name="cinemaIngresso_ID" class="form-control"/>
                          <label for="cinemaIngresso_ID">ID</label>
                        </div>
                      </div>

                      <div class="col-md-6 cinemaIngresso_CidadeID">
                        <div class="form-floating form-floating-outline">
                          <input type="text" id="cinemaIngresso_CidadeID" name="cinemaIngresso_CidadeID" class="form-control"/>
                          <label for="cinemaIngresso_CidadeID">Cidade ID</label>
                        </div>
                      </div>

                      <div class="col-md-6 cinemaIngresso_UrlKey">
                        <div class="form-floating form-floating-outline">
                          <input type="text" id="cinemaIngresso_UrlKey" name="cinemaIngresso_UrlKey" class="form-control"/>
                          <label for="cinemaIngresso_UrlKey">Url Key ID</label>
                        </div>
                      </div>

                    </div>

                  </div>
                </div>
              </div>

              <!-- Venda Bem Info -->
              <div class="accordion-item" data-info="cinemaVendaBem">
                <h2 class="accordion-header" id="heading6">
                  <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion6" aria-expanded="false" aria-controls="accordion6">
                    6. Venda Bem
                  </button>
                </h2>
                <div id="accordion6" class="accordion-collapse collapse" aria-labelledby="heading6" data-bs-parent="#accordionCadastro">
                  <div class="accordion-body">

                    <div class="row g-5 chkCinemaVendaBem_SalvarDados">
                      <div class="col-md-12 d-flex justify-content-end mb-4">
                        <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" id="chkCinemaVendaBem_SalvarDados" name="chkCinemaVendaBem_SalvarDados" required/>
                          <label class="form-check-label" for="chkCinemaVendaBem_SalvarDados">Salvar Dados</label>
                        </div>
                      </div>
                    </div>

                    <div class="row g-5">

                      <div class="col-md-6 cinemaVendaBem_Nome">
                        <div class="form-floating form-floating-outline">
                          <input type="text" id="cinemaVendaBem_Nome" name="cinemaVendaBem_Nome" class="form-control"/>
                          <label for="cinemaVendaBem_Nome">Nome</label>
                        </div>
                      </div>

                      <div class="col-md-6 cinemaVendaBem_Filial">
                        <div class="form-floating form-floating-outline">
                          <input type="text" id="cinemaVendaBem_Filial" name="cinemaVendaBem_Filial" class="form-control"/>
                          <label for="cinemaVendaBem_Filial">Filial</label>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>

              <!-- Velox Info -->
              <div class="accordion-item" data-info="cinemaVelox">
                <h2 class="accordion-header" id="heading7">
                  <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion7" aria-expanded="false" aria-controls="accordion7">
                    7. Velox
                  </button>
                </h2>
                <div id="accordion7" class="accordion-collapse collapse" aria-labelledby="heading7" data-bs-parent="#accordionCadastro">
                  <div class="accordion-body">

                    <div class="row g-5 chkCinemaVelox_SalvarDados">
                      <div class="col-md-12 d-flex justify-content-end mb-4">
                        <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" id="chkCinemaVelox_SalvarDados" name="chkCinemaVelox_SalvarDados" required/>
                          <label class="form-check-label" for="chkCinemaVelox_SalvarDados">Salvar Dados</label>
                        </div>
                      </div>
                    </div>

                    <div class="row g-5">

                      <div class="col-md-6 cinemaVelox_Nome">
                        <div class="form-floating form-floating-outline">
                          <input type="text" id="cinemaVelox_Nome" name="cinemaVelox_Nome" class="form-control"/>
                          <label for="cinemaVelox_Nome">Nome</label>
                        </div>
                      </div>

                      <div class="col-md-6 cinemaVelox_Praca">
                        <div class="form-floating form-floating-outline">
                          <input type="text" id="cinemaVelox_Praca" name="cinemaVelox_Praca" class="form-control"/>
                          <label for="cinemaVelox_Praca">Filial</label>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>

              <!-- Rentrak Info -->
              <div class="accordion-item" data-info="cinemaRentrak">
                <h2 class="accordion-header" id="heading8">
                  <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion8" aria-expanded="false" aria-controls="accordion8">
                    8. Rentrak
                  </button>
                </h2>
                <div id="accordion8" class="accordion-collapse collapse" aria-labelledby="heading8" data-bs-parent="#accordionCadastro">
                  <div class="accordion-body">

                    <div class="row g-5 chkCinemaRentrak_SalvarDados">
                      <div class="col-md-12 d-flex justify-content-end mb-4">
                        <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" id="chkCinemaRentrak_SalvarDados" name="chkCinemaRentrak_SalvarDados" required/>
                          <label class="form-check-label" for="chkCinemaRentrak_SalvarDados">Salvar Dados</label>
                        </div>
                      </div>
                    </div>

                    <div class="row g-5">

                      <div class="col-md-6 cinemaRentrak_Nome">
                        <div class="form-floating form-floating-outline">
                          <input type="text" id="cinemaRentrak_Nome" name="cinemaRentrak_Nome" class="form-control"/>
                          <label for="cinemaRentrak_Nome">Nome</label>
                        </div>
                      </div>

                      <div class="col-md-6 cinemaRentrak_CodigoReferencia">
                        <div class="form-floating form-floating-outline">
                          <input type="text" id="cinemaRentrak_CodigoReferencia" name="cinemaRentrak_CodigoReferencia" class="form-control"/>
                          <label for="cinemaRentrak_CodigoReferencia">Filial</label>
                        </div>
                      </div>

                    </div>

                  </div>
                </div>
              </div>

              <!-- Endereco Info -->
              <div class="accordion-item" data-info="cinemaEndereco">
                <h2 class="accordion-header" id="heading9">
                  <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion9" aria-expanded="false" aria-controls="accordion9">
                    9. Endereco
                  </button>
                </h2>

                <div id="accordion9" class="accordion-collapse collapse" aria-labelledby="heading9" data-bs-parent="#accordionCadastro">
                  <div class="accordion-body">

                    <div class="row g-5 chkCinemaEndereco_SalvarDados">
                      <div class="col-md-12 d-flex justify-content-end mb-4">
                        <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" id="chkCinemaEndereco_SalvarDados" name="chkCinemaEndereco_SalvarDados" required/>
                          <label class="form-check-label" for="chkCinemaEndereco_SalvarDados">Salvar Dados</label>
                        </div>
                      </div>
                    </div>

                    <div class="row g-5">

                      <div class="col-md-6 cinemaEndereco_Localizacao">
                        <div class="form-floating form-floating-outline">
                          <input type="text" id="cinemaEndereco_Localizacao" name="cinemaEndereco_Localizacao" class="form-control"/>
                                                    <label for="cinemaEndereco_Localizacao">Localiza&ccedil;&atilde;o</label>
                        </div>
                      </div>

                      <div class="col-md-6 cinemaEndereco_Endereco">
                        <div class="form-floating form-floating-outline">
                          <input type="text" id="cinemaEndereco_Endereco" name="cinemaEndereco_Endereco" class="form-control"/>
                          <label for="cinemaEndereco_Endereco">Endere&ccedil;o</label>
                        </div>
                      </div>

                      <div class="col-md-6 cinemaEndereco_Numero">
                        <div class="form-floating form-floating-outline">
                          <input type="text" id="cinemaEndereco_Numero" name="cinemaEndereco_Numero" class="form-control"/>
                                                    <label for="cinemaEndereco_Numero">N&uacute;mero</label>
                        </div>
                      </div>

                      <div class="col-md-6 cinemaEndereco_Complemento">
                        <div class="form-floating form-floating-outline">
                          <input type="text" id="cinemaEndereco_Complemento" name="cinemaEndereco_Complemento" class="form-control"/>
                          <label for="cinemaEndereco_Complemento">Complemento</label>
                        </div>
                      </div>

                      <div class="col-md-6 cinemaEndereco_Bairro">
                        <div class="form-floating form-floating-outline">
                          <input type="text" id="cinemaEndereco_Bairro" name="cinemaEndereco_Bairro" class="form-control"/>
                          <label for="cinemaEndereco_Bairro">Bairro</label>
                        </div>
                      </div>

                      <div class="col-md-6 cinemaEndereco_Cidade">
                        <div class="form-floating form-floating-outline">
                          <input type="text" id="cinemaEndereco_Cidade" name="cinemaEndereco_Cidade" class="form-control"/>
                          <label for="cinemaEndereco_Cidade">Cidade</label>
                        </div>
                      </div>

                      <div class="col-md-6 cinemaEndereco_UF">
                        <div class="form-floating form-floating-outline">
                          <select id="cinemaEndereco_UF" name="cinemaEndereco_UF" class="form-select select2 cinemaEndereco_UF" data-allow-clear="true">
                            <option value="-1">-- Selecionar --</option>
                          </select>

                          <label for="cinemaEndereco_UF">Estado</label>
                        </div>
                      </div>

                      <div class="col-md-6 cinemaEndereco_Regiao">
                        <div class="form-floating form-floating-outline">
                          <input type="text" id="cinemaEndereco_Regiao" name="cinemaEndereco_Regiao" class="form-control"/>
                                                    <label for="cinemaEndereco_Regiao">Regi&atilde;o</label>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>

              <!-- Classe Social Info -->
              <div class="accordion-item" data-info="cinemaClasseSocial">
                <h2 class="accordion-header" id="heading10">
                  <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion10" aria-expanded="false" aria-controls="accordion10">
                    10. Classe Social
                  </button>
                </h2>

                <div id="accordion10" class="accordion-collapse collapse" aria-labelledby="heading10" data-bs-parent="#accordionCadastro">
                  <div class="accordion-body">

                    <div class="row g-5 chkCinemaClasseSocial_SalvarDados">
                      <div class="col-md-12 d-flex justify-content-end mb-4">
                        <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" id="chkCinemaClasseSocial_SalvarDados" name="chkCinemaClasseSocial_SalvarDados" required/>
                          <label class="form-check-label" for="chkCinemaClasseSocial_SalvarDados">Salvar Dados</label>
                        </div>
                      </div>
                    </div>

                    <div class="row g-5">

                      <div class="col-md-3 chkCinemaClasseSocial_ClasseA">
                        <div class="form-check form-check-inline mt-4">
                          <input class="form-check-input" type="checkbox" id="chkCinemaClasseSocial_ClasseA" value="classeA"/>
                          <label class="form-check-label" for="chkCinemaClasseSocial_ClasseA">Classe A</label>
                        </div>
                      </div>

                      <div class="col-md-3 chkCinemaClasseSocial_ClasseB">
                        <div class="form-check form-check-inline mt-4">
                          <input class="form-check-input" type="checkbox" id="chkCinemaClasseSocial_ClasseB" value="classeB"/>
                          <label class="form-check-label" for="chkCinemaClasseSocial_ClasseB">Classe B</label>
                        </div>
                      </div>

                      <div class="col-md-3 chkCinemaClasseSocial_ClasseC">
                        <div class="form-check form-check-inline mt-4">
                          <input class="form-check-input" type="checkbox" id="chkCinemaClasseSocial_ClasseC" value="classeC"/>
                          <label class="form-check-label" for="chkCinemaClasseSocial_ClasseC">Classe C</label>
                        </div>
                      </div>

                      <div class="col-md-3 chkCinemaClasseSocial_ClasseD">
                        <div class="form-check form-check-inline mt-4">
                          <input class="form-check-input" type="checkbox" id="chkCinemaClasseSocial_ClasseD" value="classeD"/>
                          <label class="form-check-label" for="chkCinemaClasseSocial_ClasseD">Classe D</label>
                        </div>
                      </div>


                      <div class="col-md-3 cinemaClasseSocial_ClasseA">
                        <div class="form-floating form-floating-outline">
                          <input type="number" id="cinemaClasseSocial_ClasseA" name="cinemaClasseSocial_ClasseA" class="form-control"/>
                          <label for="cinemaClasseSocial_ClasseA">% Classe A</label>
                        </div>
                      </div>

                      <div class="col-md-3 cinemaClasseSocial_ClasseB">
                        <div class="form-floating form-floating-outline">
                          <input type="number" id="cinemaClasseSocial_ClasseB" name="cinemaClasseSocial_ClasseB" class="form-control"/>
                          <label for="cinemaClasseSocial_ClasseB">% Classe B</label>
                        </div>
                      </div>

                      <div class="col-md-3 cinemaClasseSocial_ClasseC">
                        <div class="form-floating form-floating-outline">
                          <input type="number" id="cinemaClasseSocial_ClasseC" name="cinemaClasseSocial_ClasseC" class="form-control"/>
                          <label for="cinemaClasseSocial_ClasseC">% Classe C</label>
                        </div>
                      </div>

                      <div class="col-md-3 cinemaClasseSocial_ClasseD">
                        <div class="form-floating form-floating-outline">
                          <input type="number" id="cinemaClasseSocial_ClasseD" name="cinemaClasseSocial_ClasseD" class="form-control"/>
                          <label for="cinemaClasseSocial_ClasseD">% Classe D</label>
                        </div>
                      </div>

                    </div>

                  </div>
                </div>
              </div>

              <!-- Juridico Info -->
              <div class="accordion-item" data-info="cinemaJuridico">
                <h2 class="accordion-header" id="heading11">
                  <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion11" aria-expanded="false" aria-controls="accordion11">
                    11. Juridico
                  </button>
                </h2>
                <div id="accordion11" class="accordion-collapse collapse" aria-labelledby="heading11" data-bs-parent="#accordionCadastro">
                  <div class="accordion-body">

                    <div class="row g-5 chkCinemaJuridico_SalvarDados">
                      <div class="col-md-12 d-flex justify-content-end mb-4">
                        <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" id="chkCinemaJuridico_SalvarDados" name="chkCinemaJuridico_SalvarDados" required/>
                          <label class="form-check-label" for="chkCinemaJuridico_SalvarDados">Salvar Dados</label>
                        </div>
                      </div>
                    </div>

                    <div class="row g-5">

                      <div class="col-md-6 cinemaJuridico_RazaoSocial">
                        <div class="form-floating form-floating-outline">
                          <input type="text" id="cinemaJuridico_RazaoSocial" name="cinemaJuridico_RazaoSocial" class="form-control"/>
                                                    <label for="cinemaJuridico_RazaoSocial">Raz&atilde;o Social</label>
                        </div>
                      </div>

                      <div class="col-md-6 cinemaJuridico_CNPJ">
                        <div class="form-floating form-floating-outline">
                          <input type="text" id="cinemaJuridico_CNPJ" name="cinemaJuridico_CNPJ" class="form-control"/>
                          <label for="cinemaJuridico_CNPJ">CNPJ</label>
                        </div>
                      </div>

                      <div class="col-md-6 cinemaJuridico_InscricaoEstadual">
                        <div class="form-floating form-floating-outline">
                          <input type="text" id="cinemaJuridico_InscricaoEstadual" name="cinemaJuridico_InscricaoEstadual" class="form-control"/>
                                                    <label for="cinemaJuridico_InscricaoEstadual">Inscri&ccedil;&atilde;o Estadual</label>
                        </div>
                      </div>

                      <div class="col-md-6 cinemaJuridico_CCM">
                        <div class="form-floating form-floating-outline">
                          <input type="text" id="cinemaJuridico_CCM" name="cinemaJuridico_CCM" class="form-control"/>
                          <label for="cinemaJuridico_CCM">CCM</label>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>

              <!-- Carimbo Info -->
              <!-- <div class="accordion-item">
                <h2 class="accordion-header" id="heading6">
                  <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion6" aria-expanded="false" aria-controls="accordion6">
                    6. Carimbo
                  </button>
                </h2>
                <div id="accordion6" class="accordion-collapse collapse" aria-labelledby="heading6" data-bs-parent="#accordionCadastro">
                  <div class="accordion-body">

                    <div class="row g-5">
                      <div class="col-md-12 d-flex justify-content-end">
                        <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" id="chkSalvarDados6" name="chkSalvarDados6" required/>
                          <label class="form-check-label" for="chkSalvarDados6">Salvar Dados</label>
                        </div>
                      </div>
                    </div>

                    <div class="row g-5">
                      <div class="col-md-6">
                        <div class="form-floating form-floating-outline">
                          <input type="file" class="form-control" id="basic-default-upload-file" required/>
                          <label for="basic-default-upload-file">Comprovante</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" id="formValidationSwitch" name="formValidationSwitch" required/>
                          <label class="form-check-label" for="formValidationSwitch">Mostra Carimbo no Comprovante</label>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
              -->
            </div>
          </div>

        </form>

      </div>
      
      <div class="modal-footer">
        <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary btn-modal-full-edit-salvar data-submit me-sm-4 me-1">Adicionar</button>
      </div>
    </div>
  </div>
</div>

