<!-- Extra Large Modal -->
<div class="modal fade" id="modalAddNovaMarca" aria-hidden="true" aria-labelledby="modalAddNovaMarca" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <!-- FormValidation -->
                    <div class="col-12">
                        <div class="card">
                            <div class="text-center">
                                <input type="hidden" id="hdId" name="hdId" value="0" />
                                <input type="hidden" id="hdMarcaFaseId" name="hdMarcaFaseId" value="0" />
                                <input type="hidden" id="hdMarcaFinalidadeId" name="hdMarcaFinalidadeId" value="0" />
                                <input type="hidden" id="hdMarcaFabricaId" name="hdMarcaFabricaId" value="0" />
                                <input type="hidden" id="hdMarcaDimensaoId" name="hdMarcaDimensaoId" value="0" />
                                <input type="hidden" id="hdMarcaTipoId" name="hdMarcaTipoId" value="0" />
                                <input type="hidden" id="hdMarcaSubTipoId" name="hdMarcaSubTipoId" value="0" />
                                <input type="hidden" id="hdMarcaImpressoraId" name="hdMarcaImpressoraId" value="0" />
                                <input type="hidden" id="hdMarcaQualidadeImagemId" name="hdMarcaQualidadeImagemId" value="0" />

                                <h4 class="address-title mb-2">Novo Registro</h4>
                            </div>
                            <div class="card-body">

                                <!--  <form class="form-modal-marca row g-4" id="form-pop-marca" autocomplete="off">-->
                                    <div class="row g-4">

                                    <!--  Dados da Marca -->
                                    <div class="col-12">
                                        <h6>Dados da Marca</h6>
                                        <hr class="mt-0" />
                                    </div>

                                    <!-- 01 -->
                                    <div class="col-md-6 div_fase">
                                        <div class="form-floating form-floating-outline">
                                            <select id="cmbPop_MarcaFase" name="cmbPop_MarcaFase" class="select2 form-select form-select">
                                                <option value="-1">-- Selecionar --</option>
                                            </select>
                                            <label for="cmbPop_MarcaFase">Fase</label>
                                        </div>
                                    </div>

                                    <div class="col-md-6 div_Codigo">
                                        <div class="form-floating form-floating-outline">
                                            <input class="form-control" type="text" id="txt_Codigo" name="txt_Codigo" placeholder="C&oacute;digo ACECA"  disabled/>
                                            <label for="formValidationEmail">C&oacute;digo ACECA</label>
                                        </div>
                                    </div>

                                     <!-- 02 -->
                                    <div class="col-md-12 div_Nome">
                                        <div class="form-floating form-floating-outline">
                                            <input class="form-control" type="text" id="txt_Nome" name="txt_Nome" placeholder="Nome" />
                                            <label for="formValidationName">Nome</label>
                                        </div>
                                    </div>

                                    <!-- 03 -->
                                    <div class="col-md-6 div_Incluido">
                                        <div class="form-floating form-floating-outline">
                                            <input class="form-control" type="text" id="txt_IncluidoPor" name="txt_IncluidoPor" placeholder="Inclu&iacute;do Por" />
                                            <label for="formValidationName">Inclu&iacute;do Por</label>
                                        </div>
                                    </div>
                                   
                                    <div class="col-md-6 div_finalidade">
                                        <div class="form-floating form-floating-outline">
                                            <select id="cmbPop_MarcaFinalidade" name="cmbPop_MarcaFinalidade" class="select2 form-select form-select">
                                                <option value="-1">-- Selecionar --</option>
                                            </select>
                                            <label for="cmbPop_MarcaFinalidade">Finalidade</label>
                                        </div>
                                    </div>

                                    <!-- 04 -->
                                    <div class="col-md-6 div_fabrica">
                                        <div class="form-floating form-floating-outline">
                                            <select id="cmbPop_MarcaFabrica" name="cmbPop_MarcaFabrica" class="select2 form-select form-select">
                                                <option value="-1">-- Selecionar --</option>
                                            </select>
                                            <label for="cmbPop_MarcaFabrica">F&aacute;brica</label>
                                        </div>
                                    </div>

                                    <div class="col-md-6 div_dimensao">
                                        <div class="form-floating form-floating-outline">
                                            <select id="cmbPop_MarcaDimensao" name="cmbPop_MarcaDimensao" class="select2 form-select form-select">
                                                <option value="-1">-- Selecionar --</option>
                                            </select>
                                            <label for="cmbPop_MarcaDimensao">Dimens&atilde;o</label>
                                        </div>
                                    </div>

                                    <!-- 05 -->
                                    <div class="col-md-6 div_tipo">
                                        <div class="form-floating form-floating-outline">
                                            <select id="cmbPop_MarcaTipo" name="cmbPop_MarcaTipo" class="select2 form-select form-select">
                                                <option value="-1">-- Selecionar --</option>
                                            </select>
                                            <label for="cmbPop_MarcaTipo">Tipo</label>
                                        </div>
                                    </div>

                                    <div class="col-md-6 div_subtipo">
                                        <div class="form-floating form-floating-outline">
                                            <select id="cmbPop_MarcaSubTipo" name="cmbPop_MarcaSubTipo" class="select2 form-select form-select">
                                                <option value="-1">-- Selecionar --</option>
                                            </select>
                                            <label for="cmbPop_MarcaSubTipo">Sub-Tipo</label>
                                        </div>
                                    </div>
                                    
                                    
                                    <!-- 06 -->
                                    <div class="col-md-6 div_impressora">
                                        <div class="form-floating form-floating-outline">
                                            <select id="cmbPop_MarcaImpressora" name="cmbPop_MarcaImpressora" class="select2 form-select form-select">
                                                <option value="-1">-- Selecionar --</option>
                                            </select>
                                            <label for="cmbPop_MarcaImpressora">Impressora</label>
                                        </div>
                                    </div>

                                    <div class="col-md-6 div_qualidade">
                                        <div class="form-floating form-floating-outline">
                                            <select id="cmbPop_MarcaQualidadeImagem" name="cmbPop_MarcaQualidadeImagem" class="select2 form-select form-select">
                                                <option value="-1">-- Selecionar --</option>
                                            </select>
                                            <label for="cmbPop_MarcaQualidadeImagem">Qualidade da Imagem</label>
                                        </div>
                                    </div>                                    

                                    <!-- 07 -->
                                    <div class="col-md-12 div_descricao">
                                        <div class="form-floating form-floating-outline">
                                            <textarea class="form-control h-px-200" id="txt_Descricao" name="txt_Descricao" placeholder="Descricao" rows="3"></textarea>
                                            <label for="formValidationBio">Descri&ccedil;&atilde;o</label>
                                        </div>
                                    </div>

                                    <!-- Adicional Info -->
                                    <div class="row mt-6 div_adicional">
                                        <div class="col-12">
                                            <h6 class="mt-2">Adicional Info</h6>
                                            <hr class="mt-0" />
                                        </div>

                                        <!-- 01 -->
                                        <div class="col-md-4 div_valor">
                                            <div class="form-floating form-floating-outline">
                                                <input class="form-control" type="text" name="txt_Valor" id="txt_Valor" placeholder="Valor" />
                                                <label for="txt_Valor">Pre&ccedil;o</label>
                                            </div>
                                        </div>

                                        <div class="col-md-4 div_preco_1pi">
                                            <div class="form-floating form-floating-outline">
                                                <input class="form-control" type="text" name="txt_Valor1PI" id="txt_Valor1PI" placeholder="1º PI Cr$" />
                                                <label for="txt_Valor1PI">1º PI Cr$:</label>
                                            </div>
                                        </div>

                                        <div class="col-md-4 div_preco_2pi">
                                            <div class="form-floating form-floating-outline">
                                                <input class="form-control" type="text" name="txt_Valor2PI" id="txt_Valor2PI" placeholder="2º PI Cr$" />
                                                <label for="txt_Valor2PI">2º PI Cr$:</label>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Imagens -->
                                    <div class="col-12">
                                        <h6 class="mt-2">Imagens Info</h6>
                                        <hr class="mt-0" />
                                    </div>

                                    <!-- 01 -->
                                    <div class="col-md-6" name="div_preco_imagem_principal">
                                        <div class="mb-4">
                                            <label for="txt_ImgPrincipal" class="form-label">Imagem Principal</label>
                                            <input class="form-control" type="file" id="txt_ImgPrincipal">
                                        </div>
                                    </div>

                                    <!-- 02 -->
                                    <div class="col-md-6">
                                        <div class="mb-4">
                                            <label for="txt_ImgDetalhe" class="form-label">Imagem Detalhe</label>
                                            <input class="form-control" type="file" id="txt_ImgDetalhe">
                                        </div>
                                    </div>

                                    <!-- Botoes -->
                                    <div class="col-12 mt-8 text-center">
                                        <button id="btn-cancel-modal" type="reset" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
                                        <button id="btn-submit-modal" type="submit" class="btn btn-primary data-submit me-3">Enviar</button>
                                    </div>
                                </div> 
                                <!--</form>-->
                            </div>
                        </div>
                    </div>
                    <!-- /FormValidation -->
                </div>
            </div>
        </div>
    </div>
</div>