@{
    TempData.Keep();

    string? currentPage = ViewContext.HttpContext.Request.Path;

    ViewData["containerNav"] ??= "container-fluid";
}

<!-- Menu -->
<aside id="layout-menu" class="layout-menu-horizontal menu-horizontal  menu bg-menu-theme flex-grow-0">
    
    <div class='@ViewData["containerNav"] d-flex h-100'>
        @* ! Full version menu-items *@
        <ul class="menu-inner">

            <!-- Agenda -->
            <li class='menu-item@(currentPage.StartsWith("/Agenda") ? " active" : "")'>
                <a href="javascript:void(0)" class="menu-link menu-toggle">
                    <i class='menu-icon tf-icons ri-calendar-line'></i>
                    <div data-i18n="Agenda">Agenda</div>
                </a>

                <ul class="menu-sub">

                    <li class='menu-item@(currentPage == "/Agenda/Agenda" ? " active" : "")'>
                        <a asp-controller="Agenda" asp-action="Index" class="menu-link">
                            <i class='menu-icon tf-icons ri-article-line'></i>
                            <div data-i18n="Agenda">Agenda</div>
                        </a>
                    </li>

                    <li class='menu-item@(currentPage == "/Agenda/Imagem" ? " active" : "")'>
                        <a asp-controller="AgendaImagem" asp-action="Index" class="menu-link">
                            <i class="menu-icon tf-icons ri-computer-line"></i>
                            <div data-i18n="Imagem">Imagem</div>
                        </a>
                    </li>
                </ul>
            </li>

            <!-- Fabrica -->
            <li class='menu-item@(currentPage.StartsWith("/Fabrica") ? " active" : "")'>
                <a href="javascript:void(0)" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons ri-bar-chart-2-line"></i>
                    <div data-i18n="F&aacute;bricas">F&aacute;bricas</div>
                </a>

                <ul class="menu-sub">

                    <li class='menu-item@(currentPage == "/Fabrica/Fabrica" ? " active" : "")'>
                        <a asp-controller="Fabrica" asp-action="Index" class="menu-link">
                            <i class="menu-icon tf-icons ri-archive-line"></i>
                            <div data-i18n="F&aacute;brica">F&aacute;brica</div>
                        </a>
                    </li>

                    <li class='menu-item@(currentPage == "/Fabrica/Fase" ? " active" : "")'>
                        <a asp-controller="FabricaFase" asp-action="Index" class="menu-link">
                            <i class="menu-icon tf-icons ri-map-2-line"></i>
                            <div data-i18n="Fase">Fase</div>
                        </a>
                    </li>
                </ul>
            </li>

            <!-- Marcas -->
            <li class='menu-item@(currentPage.StartsWith("/Marca") ? " active" : "")'>
                <a href="javascript:void(0)" class="menu-link menu-toggle">
                    <i class='menu-icon tf-icons ri-checkbox-multiple-blank-line'></i>
                    <div data-i18n="Marcas">Marcas</div>
                </a>
                <ul class="menu-sub">
                    <li class='menu-item@(currentPage.StartsWith("/Marca") ? " active" : "")'>
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class='menu-icon tf-icons ri-book-open-line'></i>
                            <div data-i18n="Marcas">Marcas</div>
                        </a>
                        <ul class="menu-sub">
                            <li class='menu-item@(currentPage == "/Marca/Listagem" ? " active" : "")'>
                                <a asp-controller="Marca" asp-action="Index" class="menu-link">
                                    <i class='menu-icon tf-icons ri-circle-line px-1_5'></i>
                                    <div data-i18n="Listagem">Listagem</div>
                                </a>
                            </li>
                            <li class='menu-item@(currentPage == "/Marca/Cadastro" ? " active" : "")'>
                                <a asp-controller="Marca" asp-action="Cadastro" class="menu-link">
                                    <i class='menu-icon tf-icons ri-circle-line px-1_5'></i>
                                    <div data-i18n="Cadastro">Cadastro</div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class='menu-item@(currentPage == "/Marca/Dimensao" ? " active" : "")'>
                        <a asp-controller="MarcaDimensao" asp-action="Index" class="menu-link">
                            <i class="menu-icon tf-icons ri-box-3-line"></i>
                            <div data-i18n="Dimensao">Dimensao</div>
                        </a>
                    </li>
                    <li class='menu-item@(currentPage == "/Marca/Fabrica" ? " active" : "")'>
                        <a asp-controller="MarcaFabrica" asp-action="Index" class="menu-link">
                            <i class="menu-icon tf-icons ri-bar-chart-2-line"></i>
                            <div data-i18n="Fabrica">Fabrica</div>
                        </a>
                    </li>
                    <li class='menu-item@(currentPage == "/Marca/Fase" ? " active" : "")'>
                        <a asp-controller="MarcaFase" asp-action="Index" class="menu-link">
                            <i class="menu-icon tf-icons ri-map-2-line"></i>
                            <div data-i18n="Fase">Fase</div>
                        </a>
                    </li>
                    <li class='menu-item@(currentPage == "/Marca/Finalidade" ? " active" : "")'>
                        <a asp-controller="MarcaFinalidade" asp-action="Index" class="menu-link">
                            <i class='menu-icon tf-icons ri-drag-drop-line'></i>
                            <div data-i18n="Finalidade">Finalidade</div>
                        </a>
                    </li>

                    <li class='menu-item@(currentPage == "/Marca/Impressora" ? " active" : "")'>
                        <a asp-controller="MarcaImpressora" asp-action="Index" class="menu-link">
                            <i class="menu-icon tf-icons ri-printer-line"></i>
                            <div data-i18n="Impressora">Impressora</div>
                        </a>
                    </li>
                    <li class='menu-item@(currentPage == "/Marca/Qualidade" ? " active" : "")'>
                        <a asp-controller="MarcaQualidadeImagem" asp-action="Index" class="menu-link">
                            <i class="menu-icon tf-icons ri-remixicon-line"></i>
                            <div data-i18n="Qualidade de Imagem">Qualidade de Imagem</div>
                        </a>
                    </li>
                    <li class='menu-item@(currentPage == "/Marca/Raridade" ? " active" : "")'>
                        <a asp-controller="MarcaRaridade" asp-action="Index" class="menu-link">
                            <i class="menu-icon tf-icons ri-checkbox-circle-line"></i>
                            <div data-i18n="Raridade">Raridade</div>
                        </a>
                    </li>
                    <li class='menu-item@(currentPage == "/Marca/Tipo" ? " active" : "")'>
                        <a asp-controller="MarcaTipo" asp-action="Index" class="menu-link">
                            <i class="menu-icon tf-icons ri-table-line"></i>
                            <div data-i18n="Tipo">Tipo</div>
                        </a>
                    </li>
                    <li class='menu-item@(currentPage == "/Marca/SubTipo" ? " active" : "")'>
                        <a asp-controller="MarcaSubTipo" asp-action="Index" class="menu-link">
                            <i class="menu-icon tf-icons ri-grid-line"></i>
                            <div data-i18n="Sub-Tipo">Sub-Tipo</div>
                        </a>
                    </li>
                    
                </ul>
            </li>

            <!-- Pais -->
            <li class='menu-item@(currentPage.StartsWith("/Pais") ? " active" : "")'>
                <a href="javascript:void(0)" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons ri-article-line"></i>
                    <div data-i18n="Pa&iacute;ses">Pa&iacute;ses</div>
                </a>

                <ul class="menu-sub">

                    <li class='menu-item@(currentPage == "/Pais/Pais" ? " active" : "")'>
                        <a asp-controller="Pais" asp-action="Index" class="menu-link">
                            <i class='menu-icon tf-icons ri-checkbox-multiple-blank-line'></i>
                            <div data-i18n="Pa&iacute;s">Pa&iacute;s</div>
                        </a>
                    </li>

                    <li class='menu-item@(currentPage == "/Pais/Categoria" ? " active" : "")'>
                        <a asp-controller="PaisCategoria" asp-action="Index" class="menu-link">
                            <i class="menu-icon tf-icons ri-file-line"></i>
                            <div data-i18n="Categoria">Categoria</div>
                        </a>
                    </li>
                </ul>
            </li>

            <!-- Socios -->
            <li class='menu-item@(currentPage.StartsWith("/Socio") ? " active" : "")'>
                <a href="javascript:void(0)" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons ri-account-circle-line"></i>
                    <div data-i18n="S&oacute;cios">S&oacute;cios</div>
                </a>

                <ul class="menu-sub">

                    <li class='menu-item@(currentPage == "/Socio/Socios" ? " active" : "")'>
                        <a asp-controller="Socio" asp-action="Index" class="menu-link">
                            <i class='menu-icon tf-icons ri-user-line'></i>
                            <div data-i18n="S&oacute;cio">S&oacute;cio</div>
                        </a>
                    </li>

                    <li class='menu-item@(currentPage == "/Socio/Aniversario" ? " active" : "")'>
                        <a asp-controller="SocioAniversario" asp-action="Index" class="menu-link">
                            <i class='menu-icon tf-icons ri-calendar-line'></i>
                            <div data-i18n="Anivers&aacute;rio">Anivers&aacute;rio</div>
                        </a>
                    </li>

                    <li class='menu-item@(currentPage == "/Socio/Contato" ? " active" : "")'>
                        <a asp-controller="SocioContato" asp-action="Index" class="menu-link">
                            <i class='menu-icon tf-icons ri-message-line'></i>
                            <div data-i18n="Contato">Contato</div>
                        </a>
                    </li>

                    <li class='menu-item@(currentPage == "/Socio/Endereco" ? " active" : "")'>
                        <a asp-controller="SocioEndereco" asp-action="Index" class="menu-link">
                            <i class='menu-icon tf-icons ri-truck-line'></i>
                            <div data-i18n="Endere&ccedil;o">Endere&ccedil;o</div>
                        </a>
                    </li>
                    <li class='menu-item@(currentPage == "/Socio/Financeiro" ? " active" : "")'>
                        <a asp-controller="SocioFinanceiro" asp-action="Index" class="menu-link">
                            <i class='menu-icon icon-base ri ri-money-dollar-circle-line'></i>
                            <div data-i18n="Financeiro">Financeiro</div>
                        </a>
                    </li>

                    <li class='menu-item@(currentPage == "/Socio/Perfil" ? " active" : "")'>
                        <a asp-controller="SocioPerfil" asp-action="Index" class="menu-link" target="_blank">
                            <i class='menu-icon tf-icons ri-shield-user-line'></i>
                            <div data-i18n="Perfil">Perfil</div>
                        </a>
                    </li>
                </ul>
            </li>

            <!-- Tipos -->
            <li class='menu-item@(currentPage.StartsWith("/Tipo") ? " active" : "")'>
                <a href="javascript:void(0)" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons ri-layout-2-line"></i>
                    <div data-i18n="Tipos">Tipos</div>
                </a>

                <ul class="menu-sub">

                    <li class='menu-item@(currentPage == "/Tipo/Pagamento" ? " active" : "")'>
                        <a asp-controller="TipoPagamento" asp-action="Index" class="menu-link">
                            <i class="menu-icon tf-icons ri-bank-card-2-line"></i>
                            <div data-i18n="Tipo Pagamento">Tipo Pagamento</div>
                        </a>
                    </li>
                </ul>
            </li>
           
            <!-- Usuario -->
            <li class='menu-item@(currentPage.StartsWith("/Usuario") ? " active" : "")'>
                <a href="javascript:void(0)" class="menu-link menu-toggle">
                    <i class='menu-icon tf-icons ri-user-line'></i>
                    <div data-i18n="Usu&aacute;rios">Usu&aacute;rios</div>
                </a>

                <ul class="menu-sub">

                    <li class='menu-item@(currentPage == "/Usuario/Usuario" ? " active" : "")'>
                        <a asp-controller="Usuario" asp-action="Index" class="menu-link">
                            <i class="menu-icon tf-icons ri-account-circle-line"></i>
                            <div data-i18n="Usu&aacute;rio">Usu&aacute;rio</div>
                        </a>
                    </li>

                    <li class='menu-item@(currentPage == "/Usuario/Log" ? " active" : "")'>
                        <a asp-controller="UsuarioLog" asp-action="Index" class="menu-link">
                            <i class="menu-icon tf-icons ri-pages-line"></i>
                            <div data-i18n="Log">Log</div>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</aside>
<!-- / Menu -->
